.custom-container {
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: #2d2b39;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
